site_name: "pydantic-zarr"
site_url: https://janelia-cellmap.github.io/pydantic-zarr/
site_author: Davis Bennett
site_description: >-
  Documentation for pydantic-zarr

# Repository
repo_name: janelia-cellmap/pydantic-zarr
repo_url: https://github.com/janelia-cellmap/pydantic-zarr

# Copyright
copyright: Copyright &copy; 2016 - 2024 HHMI / Janelia

theme:
  name: material
  palette: 
  # Palette toggle for light mode
  - scheme: default
    toggle:
      icon: material/brightness-7 
      name: Switch to dark mode

  # Palette toggle for dark mode
  - scheme: slate
    toggle:
      icon: material/brightness-4
      name: Switch to light mode

nav:
    - About: index.md
    - Usage (Zarr V3): usage_zarr_v3.md
    - Usage (Zarr V2): usage_zarr_v2.md
    - API:
      - core: api/core.md
      - v2: api/v2.md
      - v3: api/v3.md

plugins:
- mkdocstrings:
    handlers:
        python:
          options:
            docstring_style: numpy
            members_order: source
            separate_signature: true
            filters: ["!^_"]
            docstring_options:
              ignore_init_summary: true
            merge_init_into_class: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - toc:
      baselevel: 2
      toc_depth: 4
      permalink: "#"
